# -----------------------------
# Vivado generated artifacts
# -----------------------------
# Per-project outputs (your screenshot shows these)
.Xil/
*.cache/
*.hw/
*.sim/
*.runs/
*.srcs/
*.gen/

*.ip_user_files/
*ipshared/


# Ignore BD-generated synthesis artifacts
src/bd/*/ip/*/bd_*/
src/bd/*/ip/*/*.dcp
src/bd/*/ip/*/*.vhd
src/bd/*/ip/*/*.xdc
src/bd/*/ip/*/synth/
src/bd/*/ip/*/sim/
src/bd/*.veo

# random matlab scripts
scripts/ignore/*

# Only track the BD file itself
!src/bd/*/*.bd

# Ignore generated IP artifacts
*.ip_user_files/
*.srcs/sources_1/ip/*/synth/
*.srcs/sources_1/ip/*/sim/

# Ignore generated IP artifacts under src/ip
src/ip/**/doc/
src/ip/**/hdl/
src/ip/**/sim/
src/ip/**/synth/
src/ip/**/*.dcp
src/ip/**/*.veo
src/ip/**/*.vho
src/ip/**/*.xdc
src/ip/**/*.xml
src/ip/**/*.txt

# Keep canonical IP config files
!src/ip/**/
!src/ip/**/*.xci

# Logs / journal / misc
*.jou
*.log
*.str
vivado_pid*.str
dfx_runtime

# User-specific settings
*.xpr.user
*.wcfg

# Maybe take out
*.xml
*.txt

# Optional: if you choose to keep all builds in a local folder
vivado/

# OS noise
.DS_Store
Thumbs.db
