# -----------------------------
# Vivado generated artifacts
# -----------------------------
# Per-project outputs (your screenshot shows these)
.Xil/
*.cache/
*.hw/
*.sim/
*.runs/
*.srcs/
*.gen/

*.ip_user_files/
*ipshared/

*.srcs/sources_1/ip/*/*.xci  # Keep this
!*.xci                        # Keep XCI files

# Ignore BD-generated synthesis artifacts
src/bd/*/ip/*/bd_*/
src/bd/*/ip/*/*.dcp
src/bd/*/ip/*/*.vhd
src/bd/*/ip/*/*.xdc
src/bd/*/ip/*/synth/
src/bd/*/ip/*/sim/

# Only track the BD file itself
!src/bd/*/*.bd

# Ignore generated IP artifacts
*.ip_user_files/
*.srcs/sources_1/ip/*/synth/
*.srcs/sources_1/ip/*/sim/

# Logs / journal / misc
*.jou
*.log
*.str
vivado_pid*.str
dfx_runtime

# User-specific settings
*.xpr.user
*.wcfg

# Maybe take out
# *.xci
*.xml
*.txt

# Optional: if you choose to keep all builds in a local folder
vivado/

# OS noise
.DS_Store
Thumbs.db
